header {
  background-color: white;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;

  /* font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; */
  color: rgb(16, 16, 17);
  text-align: center;
  font-weight: bold;
  font-size: 3rem;
}
