* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
img {
  width: 80px;
  height: auto;
}

header {
  background-color: black;
  color: white;
  height: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding: 30px;
}
.container {
  display: flex;
  /* justify-content: space-between; */
  gap: 20px;
  align-items: center;
}
a {
  text-decoration: none;
  color: white;
}

@media screen and (max-width: 600px) {
}
