body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  /* background-image: linear-gradient(
    to left top,
    #a8aeb8,
    #8fb2c0,
    #74b7b4,
    #78b794,
    #9bb16b
  ); */
  background-image: url("https://cdn.pixabay.com/photo/2019/02/20/15/11/turtle-4009341_640.jpg");
}

form {
  max-width: 500px;
  margin: 20px auto;
  padding: 20px;
  background-color: #faf8f8;
  border-radius: 8px;
  color: rgb(15, 14, 14);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

fieldset {
  border: none;
}

legend {
  position: relative;
  left: 30%;
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
}

label {
  display: block;
  margin-bottom: 8px;
}

input[type="text"],
input[type="password"],
textarea {
  width: calc(100% - 10px);
  padding: 8px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

select {
  width: calc(100% - 10px);
  padding: 8px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

input[type="checkbox"],
input[type="radio"] {
  margin-right: 5px;
}

hr {
  margin-top: 20px;
  margin-bottom: 20px;
  border: 0;
  border-top: 1px solid #ccc;
}

progress {
  width: 100%;
  height: 20px;
  border-radius: 4px;
}

datalist {
  margin-bottom: 15px;
}

input[list] {
  width: calc(100% - 10px);
  padding: 8px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.registerButton {
  width: 100%;
  background-color: rgb(253, 248, 248);
  color: rgb(19, 18, 18);
  height: 2rem;
  border-radius: 10px;
  font-size: large;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-style: italic;
}

.h1su {
  font-family: cursive;
  font-weight: 900;
  font-style: italic;
  position: relative;
  left: 35%;
  top: 20%;
}
